.NavProfile {
  padding: 30px 0;
  border-right: 1px solid #000000;
  width: 300px;
  background-color: white;
  position: fixed;
  z-index: 98;
  height: 100%;
  .content {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 180px;
    .nav,
    .help {
      display: flex;
      flex-direction: column;
      gap: 40px;
      span {
        display: flex;
        gap: 20px;
        font-size: 25px;
        color: #00000083;
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #00000097;
        }
        a:hover {
          color: #499bfc;

        }
      }
    }
  }
}

@media (max-width: 750px) {
  .NavProfile {
    width: 60px;
    border-left: 2px solid #000;
    .content {
      gap: 70px;
      .nav {
        span {
          a {
            display: none;
          }
        }
      }
      .help {
        span {
          a {
            display: none;
          }
        }
      }
    }
  }
}
