#payment {
  font-family: "Roboto", sans-serif;
  padding: 50px 0;
  .title {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 600;
    font-size: 34.95px;
    color: #348bca;
  }
  #card_payment {
    background: #c9e7fd;
    padding: 10px 0;
    margin: 30px 0;
    .card_payment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-weight: 400;
        color: #348bca;
        font-size: 34.95px;
      }
      .cards {
        display: flex;
        gap: 21px;
      }
    }
  }
  .payment_way {
    h2 {
      margin-bottom: 20px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 24px;
    }
    .customSelect {
      position: relative;
      width: 100%;
      cursor: pointer;
      .selectedOption {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: white;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        position: relative;
        img {
          width: 75px;
          height: 52px;
        }
        .open {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 30px;
        }
        .rotate {
          transform: rotate(180deg);
          transition: transform 0.3s ease;
        }
      }
      .optionsList {
        display: none;
      }
      .open_optionsList {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          cursor: pointer;
          font-family: Montserrat;
          font-weight: 500;
          font-size: 20px;
        }
        li:hover {
          background-color: #f0f0f0;
        }
      }
    }
    .inputs {
      display: flex;
      justify-content: space-between;
      padding: 50px 0 0 0;
      width: 100%;
      .input {
        width: 47%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        label {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          p {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 20px;
            span {
              color: #ff0000;
            }
          }
          input {
            padding: 18px 30px;
            width: 100%;
            border: 1px solid #00000066;
            border-radius: 8px;
            font-size: 24px;
          }
        }
        button {
          padding: 15px 56px;
          font-family: Roboto;
          font-weight: 700;
          font-size: 24px;
          background-color: transparent;
          color: #348bca;
          border-radius: 10px;
          border: 1px solid #348bca;
        }
      }
      .left {
        align-items: flex-end;
      }
      .right {
        align-items: flex-start;
        button {
          padding: 15px 56px;
          font-family: Roboto;
          font-weight: 700;
          font-size: 24px;
          background-color: #348bca;
          color: white;
          border: none;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  #payment {
    padding: 30px 0;
    .title {
      font-size: 28.95px;
    }
    #card_payment {
      padding: 10px 0;
      margin: 30px 0;
      .card_payment {
        h1 {
          font-size: 28.95px;
        }
        .cards {
          img {
            width: 60px;
            height: 45px;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  #payment {
    .title {
      font-size: 22px;
    }
    #card_payment {
      .card_payment {
        h1 {
          font-size: 20px;
        }
      }
    }
    .payment_way {
      h2 {
        font-size: 20px;
      }
      .customSelect {
        .selectedOption {
          font-size: 17px;
          img {
            width: 70px;
            height: 48px;
          }
        }
        .open_optionsList {
          li {
            font-size: 17px;
          }
        }
      }
      .inputs {
        .input {
          label {
            p {
              font-size: 14px;
            }
            input {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  #payment {
    .title {
      font-size: 18px;
    }
    #card_payment {
      .card_payment {
        h1 {
          font-size: 16px;
        }
        .cards {
          img {
            width: 40px;
            height: 30px;
          }
        }
      }
    }
    .payment_way {
      h2 {
        font-size: 17px;
      }
      .customSelect {
        .selectedOption {
          gap: 15px;
          font-size: 15px;
          img {
            width: 40px;
            height: 30px;
          }
          .open {
            top: 10px;
          }
        }
        .open_optionsList {
          li {
            font-size: 15px;
          }
        }
      }
      .inputs {
        flex-direction: column;
        position: relative;
        gap: 20px;
        .input {
          width: 100%;
          gap: 20px;
          label {
            p {
              font-size: 14px;
            }
            input {
              font-size: 16px;
              padding: 12px 20px;
            }
          }
          .back {
            position: absolute;
            bottom: 0;
          }
          button {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  #payment {
    #card_payment {
      background: #c9e7fd;
      padding: 10px 0;
      margin: 30px 0;
      .card_payment {
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 420px) {
  #payment {
    #card_payment {
      margin: 16px 0;
      .card_payment {
        gap: 10px;
        h1 {
          font-size: 14px;
        }
      }
    }

    .payment_way {
      h2 {
        font-size: 15px;
      }
      .customSelect {
        .selectedOption {
          gap: 5px;
          font-size: 13px;
        }
      }
      .inputs {
        margin-top: 20px;
        padding: 0;
        .input {
          button {
            padding: 10px 26px;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
@media (max-width: 380px) {
  #payment {
    .payment_way {
      .customSelect {
        .selectedOption {
          img {
            display: none;
          }
          .open {
            top: 9px;
            right: 8px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
